body {
    margin: 0;
    font-family: 'Times New Roman', serif;
    background-color: #e0ecf7;
}

.header {
    background-color: #9bb7e0;
    padding: 40px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.college-tabs {
    background-color: #bcd0ec;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.description {
    background-color: #d2e1f3;
    width: 70%;
    margin: 40px auto;
    padding: 25px;
    font-size: 22px;
    text-align: center;
    border: 2px solid #9bb7e0;
    border-radius: 8px;
}

.ap-compare {
    background-color: #d2e1f3;
    width: 50%;
    margin: 40px auto;
    padding: 40px;
    font-size: 28px;
    text-align: center;
    border: 2px solid #9bb7e0;
    border-radius: 8px;
    cursor: pointer;

}

.quiz {
    background-color: #d2e1f3;
    width: 50%;
    margin: 40px auto;
    padding: 40px;
    font-size: 28px;
    text-align: center;
    border: 2px solid #9bb7e0;
    border-radius: 8px;
    cursor: pointer;

}

.quiz-box:hover {
    background-color: #c7d8ee;
}